#icon {
	height: 20px;
	width: 20px;
}

* {
	-webkit-transition: .45s;
	-moz-transition: .45s;
	transition: .45s;
}

#content {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	max-width: 100%;
	text-align: left;

}

#content input {
	min-width: 50%;
	max-width: 80%;
}
