{% extends "loggedInBase.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<h1>{{ userProfile.user.username }}'s Profile</h1>
<h2>{{ userProfile.user.first_name}} {{ userProfile.user.last_name }}</h2>
<ul>
  <h2>Tools owned: </h2>
  {% if toolsOwned %}
    {% for tool in toolsOwned %}
      <li><a href = "/tools/{{tool.id}}">{{ tool.name }}</a></li>
    {% endfor %}
  {% else %}
    {% if userProfile.user == currentUser %}
      <i>You haven't submitted any tools yet!</i>
    {% else %}
      <i>This user hasn't submitted any tools yet!</i>
    {% endif %}
  {% endif %}

  <h2>Tools borrowed: </h2>
  {% if toolsBorrowed %}
    {% for tool in toolsBorrowed %}
      <li><a href = "/tools/{{tool.id}}">{{ tool.name }}</a></li>
    {% endfor %}
  {% else %}
    {% if userProfile.user == currentUser %}
      <i>You aren't currently borrowing any tools!</i>
    {% else %}
      <i>This user isn't currently borrowing any tools!</i>
    {% endif %}
  {% endif %}
  
  {% if userProfile.user == currentUser %}
    <h2>Other users in your ShareZone: </h2>
  {% else %}
    <h2>Other users in this user's ShareZone: </h2>
  {% endif %}
  {% if profilesInSharezone %}
    {% for profile in profilesInSharezone %}
      <li><a href = "/accounts/profile/{{ profile.user.username }}">{{ profile.user.username }}</a></li>
    {% endfor %}
  {% else %}
    {% if userProfile.user == currentUser %}
      <i>There are currently no other users in your ShareZone!</i>
    {% else %}
      <i>There are currently no other users in this user's ShareZone!</i>
    {% endif %}
  {% endif %} 
</ul>
{% endblock %}