{% extends "custom.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<h1>{{ userProfile.user.username }}'s Profile</h1>
<h2>{{ userProfile.user.first_name}} {{ userProfile.user.last_name }}</h2>
<ul>
  <h2>Tools owned: </h2>
  {% if toolsOwned %}
    {% for tool in toolsOwned %}
      <li><a href = "/tools/{{tool.toolID}}">{{ tool.name }}</a></li>
    {% endfor %}
  {% else %}
    <i>You haven't submitted any tools yet!</i>
  {% endif %}

  <h2>Tools borrowed: </h2>
  {% if toolsBorrowed %}
    {% for tool in toolsBorrowed %}
      <li><a href = "/tools/{{tool.toolID}}">{{ tool.name }}</a></li>
    {% endfor %}
  {% else %}
    <i>You aren't currently borrowing any tools!</i>
  {% endif %}

  <h2>Users in your ShareZone: </h2>
  {% if profilesInSharezone %}
    {% for profile in profilesInSharezone %}
      <li><a href = "/accounts/profile/{{ profile.user.username }}">{{ profile.user.username }}</a></li>
    {% endfor %}
  {% else %}
    <i>There are currently no other users in your ShareZone!</i>
  {% endif %} 
</ul>
{% endblock %}