{% extends "loggedOutBase.html" %}

{% block content %}

<div class="container">
<h1>About ToolCloud</h1>
<p>ToolCloud is the easiest way to share tools with your neighbors.</p>
<p>Create your account in seconds, all it takes is a few clicks.  It's that simple!</p>
<p>Add tools with the navigation bar, or browse your community for other sheds and users.</p>
<p>New tools are added to your personal shed.</p>
<p>Borrow tools from other users in your community, lend them out, or both!</p>
<p>Get started now by clicking register on the navigation bar to your left!</p>

</div>
<div class="container">
<h1>About The Squad</h1>
<p>The Squad has been developing web applications for several weeks.</p>
<p>ToolCloud is the first of many planned online sharing utilities.</p>
<p>The Squad's members are: </p>
<li>Jackson - Most Glorious Team Leader:
	<i>Master of karate and friendship for everyone.</i>
</li>
<li>Roy - Coder in Chief:
	<i>On probation for mispronouncing deprecation.</i>
</li>
<li>Adam - Yooey Wranglin' Buckaroo:
	<i>Husslin', rasslin', this 'n that.</i>
</li>
<li>Jake - Backend Plumber:
	<i>Keeper of the sacred oath and the Squad toilet plunger.</i>
</li>
<li>
Alex - Wildcard/Chartographer:
	<i>Alex's job is to stand around looking completely insane and capable of anything.</i>
</li>
<li>
Taikhoom - The Tycoon:
	<i>The Tycoon's purpose is unknowable.</i>
</li>
<h2>Contact us: </h2>
<p>The Squad can be reached at thesquad@toolcloud.us, or 1-800-THE-SQAD (emergencies only, this is a Trac-fone.)</p>
<p>We are available for website development, software engineering, birthday parties, and cruise ship entertainment.</p>
</div>
{% endblock %}