{% extends "loggedOutBase.html" %}

{% block content %}

<h1>About The Squad</h1>
<p>The Squad has been developing web applications for several weeks.</p>
<p>ToolCloud is the first of many planned online sharing utilities.</p>
<p>We plan to build web apps for sharing: </p>
<li>Pencils</li>
<li>Medical waste</li>
<li>Bicycle tires</li>
<li>Self esteem</li>
<li>Arrogance</li>
<li>Unwanted gift cards/brunch invitations</li>
<li>Cooties</li>
<h2>Contact us</h2>
<p>The Squad can be reached at thesquad@toolcloud.us, or 1-800-THE-SQAD (emergencies only, this is a Trac-fone.)</p>
<p>We are available for website development, software engineering, birthday parties, and cruise ship entertainment.</p>

{% endblock %}