<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<link rel="icon" 
      type="image/png" 
	  href = "{% static 'img/shed.png' %}"/>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ToolCloud - Sharing with your neighbors
    has never been so easy!">
    <meta name="author" content="The Squad">

    <title>{% block title %}ToolCloud{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav id="nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ heading }}
                <img id="icon" src="{% static 'img/shed.png' %}"/></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="greeting">Hello {{ name }}!</a>
                    </li>
                    {% if name == None or name == 'Anonymous' %}
                    <li>
                        <a id="registerBtn" href="/accounts/register">Register</a>
                    </li>
                    <li>
                        <a id="loginBtn" href="/accounts/login">Login</a>
                    </li>
                    {% else %}
					<li>
						<a id="myProfileBtn" href="/accounts/profile">My Profile</a>
					</li>
					<li>
						<a id="toolRegisterBtn" href="/tools/submit">Register Tool</a>
					</li>
					<li>
						<a id="shedRegisterBtn" href="/sheds/create">Create New Shed</a>
					</li>
                    <li>
                        <a id="logoutBtn" href="/accounts/logout">Logout</a>
                    </li>
                    {% endif %}
                    <li>
                        <a id="spookBtn" href="/aspookedeh">Get Spooked!</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" id="content">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h1 id="heading">{{ heading }}
            <img id="iconMain" src="{% static 'img/shed.png' %}"/></h1>
                <div id="contentBlock">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="{% static 'js/jquery-1.11.0.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.js' %}"></script>

</body>

<footer>
</footer>

</html>
