{% extends "super.html" %}
{% load staticfiles %}
{% block main %}
<!-- Navigation -->
<nav id="nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ heading }}
            <img id="icon" src="{% static 'img/shed.png' %}"/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a id="greeting">Hello Anonymous!</a>
                </li>
                <li>
                    <a id="registerBtn" href="/accounts/register">Register</a>
                </li>
                <li>
                    <a id="loginBtn" href="/accounts/login">Login</a>
                </li>
                <li>
                    <a id="spookBtn" href="/aspookedeh">Get Spooked!</a>
                </li>
                <li>
                    <a id="aboutBtn" href="/about_us">About Us</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container" id="content">
    <div class="row">
        <div class="col-lg-12 text-center">
        <h1 id="heading">{{ heading }}
        <img id="iconMain" src="{% static 'img/shed.png' %}"/></h1>
            <div id="contentBlock">
                {% block content %}
                    <h3 class="text-center"><i>{{strings|random|safe}}</i></h3>
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}
