{% extends "super.html" %}
{% load staticfiles %}
{% block head %}
    <!-- Custom CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block main %}
<!-- Navigation -->
    <nav id="nav">
        <div id="links">
			<ul>
				<li><a href="/">Home Page</a></li>
			</ul>
            <ul>
                <li><a href="/accounts/profile">my profile</a></li>
            </ul>
			<ul>
                <li><a href="/tools/submit">add a tool</a></li>
            </ul>
            <ul>
                <li><a href="/sheds/">toolsheds</a></li>
            </ul>
        </div>
        <div id="userInfo">
            <ul>
                <li><a>{{ username }}</a></li>
            </ul>
            <ul id="notis">
                {% if notif %}
                    <div id="notiBell"></div>
                {% else %}
                    <div id="notiBellStatic"></div>
                {% endif %}
            </ul>
        </div>
		<div id="links">
			<ul>
                <li><a href="/accounts/logout">logout</a></li>
			</ul>
		</div>
    </nav>

    <!-- Page Content -->
    <div class="container" id="content">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h1 id="heading">{{ heading }}
            <img id="iconMain" src="{% static 'img/shed.png' %}"/></h1>
                <div id="contentBlock">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
