{% extends "loggedInBase.html" %}

{% block content %}
<div id="container">
	<h1 class="center">My Account</h1>
	<ul class="left">
	  <li>Username: {{ userProfile.user.username }}</li>
	  <li>Name: {{ userProfile.user.first_name }} {{ userProfile.user.last_name }}</li>
	  <li>Email address: {{ userProfile.user.email }}</li>
	  <li>Phone Number: {{ userProfile.phoneNumber }}</li>
	  <li>Address: {{ streetAddress }}, {{ city }}, {{ state }}</li>
	  <li>Community: {{ sharezone }}</li>
	  <li>Reputation: {{ reputation }}</li>
	  <li>Joined ToolCloud on: {{ timeStamp }}</li>
	</ul>
	<div class="center">
	  <a class="btn btn-default" href="/accounts/change_password/">Change password</a>
	</div>
</div>
{% endblock %}