{% extends "loggedInBase.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<div id="container" class="center">
  <h1>{{ name }}</h1>
  <h2>Owner: {{ owner.user.username }}</h2>
    <h2>Admins</h2>
    <ul class="left profileList">
    {% for admin in admins %}
      <li><a href = "/accounts/profile/{{admin.user.username}}">{{ admin.user.username }}</a></li>
    {% endfor %}
    </ul>  
    <h2>Members</h2>
    <ul class="left profileList">
    {% for member in members %}
      <li><a href = "/accounts/profile/{{member.user.username}}">{{ member.user.username }}</a></li>
    {% endfor %}
    </ul>
    <h2>Tools</h2>
    {% if tools %}
      <ul class="left profileList">
      {% for tool in tools %}
        <li><a href = "/tools/{{tool.id}}">{{ tool.name }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <i>No one has submitted any tools to this shed yet!</i>
    {% endif %}
  {% if meetsMin and not alreadyMember and not pendingRequest %}
    <a class="btn btn-default" href="/sheds/{{shed.id}}/join">Join this shed</a>
  {% elif pendingRequest %}
    <i>Your request to join this shed is currently pending.</i>
  {% elif not meetsMin %}
    <i>Sorry, but you do not meet the minimum reputation set by the shed's admins in order to join.</i>
  {% endif %}
</div>
{% endblock %}