<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<link rel="icon" 
      type="image/png" 
	  href = "{% static 'img/shed.png' %}"/>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ToolCloud - Sharing tools with your neighbors
    has never been so easy!">
    <meta name="author" content="The Squad">

    <title>{{ title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">

    <!-- Base CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">

    {% block head %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    {% block body %}{% endblock %}

    <!-- jQuery Version 1.11.0 -->
    <script src="{% static 'js/jquery-1.11.0.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.js' %}"></script>

</body>

<footer>
    <p> {{ footer }}</p>
{% if copyrightYear != None and companyName != None %}
    <p>Copyright {{ companyName }}, {{ copyrightYear }}</p>
{% endif %}
</footer>

</html>
