{% extends "loggedInBase.html" %}

{% block content %}

<div id="container" class="center">
  <h1>{{name}}</h1>
  <h3>Owner: <a href = "/accounts/profile/{{owner.user.username}}">{{owner.user.username}}</a></h3>  <h3>Condition: {{ condition }}</h3>
  <h3>Tags: </h3>{% if tags %}<p>{{ tags }}</p>{% else %}<i>The owner has not tagged this tool with anything.</i>{% endif %}
  <p>{{description}}</p>


  {% if borrower == currentProfile %}
    {% if not pendingReturnRequest %}
      <h2>You are currently borrowing this tool.</h2>
      <a class="btn btn-default" href="/tools/{{ tool.id }}/return">Return this tool</a>
    {% else %}
      <i>You have marked this tool as returned.  It will appear in your borrowed tools until the return is approved by the owner.</i>
    {% endif %}

  {% else %}
  {% if available and not ownedByUser and meetsMin and not pendingBorrowRequest and canBorrow %}
    <a class="btn btn-default" href="/tools/{{ tool.id }}/borrow">Borrow this tool</a>
  {% elif not canBorrow %}
    <i>Uh oh, looks like you have an overdrafted tool that must be returned before you can borrow another tool.</i>
  {% elif not available %}
    {% if owner != currentProfile %}
      <i>Sorry, but this tool is currently not available to borrow.</i>
    {% endif %}
    {% if borrower %}
      <h2>Current borrower: <a href = "/accounts/profile/{{borrower.user.username}}">{{borrower.user.username}}</a></h2>
    {% endif %}
  {% elif pendingBorrowRequest %}
    {% if requester == currentProfile %}
      <i>Your request to borrow this tool is currently pending.</i>
    {% else %}
      <i>A request to borrow this tool is currently pending.</i>
    {% endif %}
  {% elif not meetsMin %}
    <i>Sorry, but you do not meet the minimum reputation set by the owner to borrow this tool.</i>
  {% endif %}
  {% endif %}
</div>
{% endblock %}