{% extends "loggedInBase.html" %}
{% block content %}
<div id="topHome" class="full_width half_height">
	<div id="toolSection">
		<h1>Tools</h1>
		{% if tools %}
			{% for tool in tools %}
				<li><a href = "/tools/{{tool.id}}">{{ tool.name }}</a></li>
			{% endfor %}
		{% else %}
			<p>You have no tools!</p>
		{% endif %}
	</div>
	<div id="shedSection">
		<h1>Sheds</h1>
		{% if sheds %}
			{% for shed in sheds %}
				<li><a href = "/sheds/{{shed.id}}">{{ shed.name }}</a></li>
			{% endfor %}
		{% else %}
			<p>You are not a part of any sheds!</p>
		{% endif %}
	</div>
</div>
<div id="botHome" class="full_width half_height">
	<div id="communitySection">
		<h1>Community</h1>
		{% if sharezone %}
			<li><p><a href = "/communities/{{ sharezone }}">{{ sharezone }}</a></p></li>
			{% if sharezoneMembers %}
			<ul>
				{% for mem in sharezoneMembers %}
					<li><a href = "/accounts/profile/{{ mem.user.username }}">{{ mem.user.username }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
		{% else %}
			<li><p>You are not a part of any communities. :(</p></li>
		{% endif %}
	</div>
	<div id="borrowedSection">
		<h1>Borrowed</h1>
		{% if borrowed %}
			{% for tool in borrowed %}
				<li><a href = "/tools/{{tool.id}}">{{ tool.name }}</li>
			{% endfor %}
		{% else %}
			<p>You have no tools borrowed.</p>
		{% endif %}
	</div>
</div>
{% endblock %}
