{% extends "loggedInBase.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<div id="container" class="center">
  <h1>{{ userProfile.user.username }}'s Profile</h1>
  <h2>{{ userProfile.user.first_name}} {{ userProfile.user.last_name }}</h2>
  <h3>Tools owned</h3>
  {% if toolsOwned %}
    <ul class="profileList">
      {% for tool in toolsOwned %}
        <li class="left"><a href = "/tools/{{tool.id}}">{{ tool.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    {% if userProfile.user == currentUser %}
      <i>You haven't submitted any tools yet!</i>
    {% else %}
      <i>This user hasn't submitted any tools yet!</i>
    {% endif %}
  {% endif %}

  <h3>Tools borrowed</h3>
  {% if toolsBorrowed %}
    <ul class="profileList">
    {% for tool in toolsBorrowed %}
      <li class="left"><a href = "/tools/{{tool.id}}">{{ tool.name }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    {% if userProfile.user == currentUser %}
      <i>You aren't currently borrowing any tools!</i>
    {% else %}
      <i>This user isn't currently borrowing any tools!</i>
    {% endif %}
  {% endif %}
  
  <h3>Sheds</h3>
  {% if sheds %}
    <ul class="profileList">
    {% for shed in sheds %}
      <li class="left"><a href = "/sheds/{{ shed.id }}">{{ shed.name }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    {% if userProfile.user == currentUser %}
      <i>You don't currently belong to any sheds!!</i>
    {% else %}
      <i>This user does not currently belong to any sheds!</i>
    {% endif %}
  {% endif %} 
</div>
{% endblock %}