{% extends "loggedInBase.html" %}

{% block content %}
<h1>Your currently pending notifications</h1>
{% if notifs %}
  {% for notif in notifs %}
    <div class="notification info">
        <div class="notification-description">
            <p>
                <em class="fa fa-info fa-fw fa-2x"></em>
                {{ notif.content }}
                <a class="btn btn-success" href = "accounts/notifications/{{notif.id}}/request_accept">Accept</a>
                <a class="btn btn-danger" href = "accounts/notifications/{{notif.id}}/request_decline">Decline</a>
            </p>
        </div>
    </div>
  {% endfor %}
{% else %}
  <i>You have no pending notifications.</i>
{% endif %}
{% endblock %}