{% extends "loggedInBase.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<h1>{{ userProfile.user.username }}'s Profile</h1>
<h2>{{ userProfile.user.first_name}} {{ userProfile.user.last_name }}</h2>
<ul>
  <h3>Tools owned</h3>
  {% if toolsOwned %}
    {% for tool in toolsOwned %}
      <li><a href = "/tools/{{tool.id}}">{{ tool.name }}</a></li>
    {% endfor %}
  {% else %}
    {% if userProfile.user == currentUser %}
      <i>You haven't submitted any tools yet!</i>
    {% else %}
      <i>This user hasn't submitted any tools yet!</i>
    {% endif %}
  {% endif %}

  <h3>Tools borrowed</h3>
  {% if toolsBorrowed %}
    {% for tool in toolsBorrowed %}
      <li><a href = "/tools/{{tool.id}}">{{ tool.name }}</a></li>
    {% endfor %}
  {% else %}
    {% if userProfile.user == currentUser %}
      <i>You aren't currently borrowing any tools!</i>
    {% else %}
      <i>This user isn't currently borrowing any tools!</i>
    {% endif %}
  {% endif %}
  
  {% if userProfile.user == currentUser %}
    <h3>Sheds</h3>
  {% else %}
    <h3>Sheds</h3>
  {% endif %}
  {% if sheds %}
    {% for shed in sheds %}
      <li><a href = "/sheds/{{ shed.id }}">{{ shed.name }}</a></li>
    {% endfor %}
  {% else %}
    {% if userProfile.user == currentUser %}
      <i>You don't currently belong to any sheds!!</i>
    {% else %}
      <i>This user does not currently belong to any sheds!</i>
    {% endif %}
  {% endif %} 
</ul>
{% endblock %}