html {
  font-family: "Open Sans";
  height: 100%;
  width: 85%;
  margin-left: 15%;
}

#nav {
  background-color: rgba(0,0,0,.4);
}

#icon {
  height: 20px;
  height: 1.56vw;
  width: 20px;
  width: 1.56vw;
}

#content #heading {
  font-size: 4.6vw;
  height: 10%;
}

#iconMain {
  height: 50px;
  width: 50px;
}

#navIcon {
  height: 25px;
  width: 25px;
}

* {
  -webkit-transition: .45s;
  -moz-transition: .45s;
  transition: .45s;
}

#content {
  width: 85%;
}

#contentBlock {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  text-align: left;
  height: 78%;
  background-color: rgba(143,143,143,.4);
}

#greeting {
  color: rgba(3,3,150,.8);
}

#nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #151515;
  
  transition-delay: 0s;
  transition-duration: 0.36s;
  transition-property: all;
  transition-timing-function: line;
}

#nav a:hover { font-weight: 400; }

#nav,
#nav:hover { padding: 1vw; }

/*#nav a { text-indent: -15.6vw; }*/

#nav:hover a {
  text-indent:0px;
  color: #EEFFE5;
}

#nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  height: 100%;
  width: 15%;
  background-color: #624A94;
  
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

#nav:hover {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 15%;
}

#nav {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=.75);
  opacity:.75;
}

#nav:hover {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity:1;
}

#nav li {
  display: block;
  padding:.25vw;
  height:2.5vw;
}

.wrapper { 
  margin: 1em auto;
  width: 40%
}

.notification {
  position: relative;
  margin: 1em auto
}

.notification-description:after {
  content: '';
  font: 20px FontAwesome;
  position: absolute;
  color: #ecf0f1;
  top: 33%;
  right: 3%;
  cursor: pointer
}

  .notification .notification-description .fa {
    color:#fff;
    margin-right: .5em
  }
  .notification .notification-description p {
    margin:0;
    vertical-align: middle;
    font: 300 16px/2.3 "Open Sans";
    color:#ecf0f1;
    padding: 10px 20px
  }

  .notification .notification-description p strong {
    font-size: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    display: inline-block;
    width: 100px
  }
.notification.success .notification-description{
  position: relative;
  background: #27ae60;
  background: linear-gradient(
    25deg
    , rgba(39, 174, 96, .8) 0%
    , rgba(46, 204, 113, .8) 15%
    , rgba(39, 174, 96, 1) 15%
    , #27ae60 100% 
  );
  --webkit-border-radius: 5px;
  --moz-border-radius: 5px;
  border-radius: 5px
}

.notification.error .notification-description{
   background: #c0392b;
    background: linear-gradient(
    25deg
    , rgba(192, 57, 43, .8) 0%
    , rgba(231, 76, 60, .8) 15%
    , rgba(231, 76, 60, 1) 15%
    , #c0392b 100% 
  );
  --webkit-border-radius: 5px;
  --moz-border-radius: 5px;
  border-radius: 5px
}

.notification.warning .notification-description {
  background:#d35400;
  background: linear-gradient(
    25deg
    , rgba(211, 84, 0, .8) 0%
    , rgba(230, 126, 34, .8) 15%
    , rgba(230, 126, 34, 1) 15%
    , #d35400 100% 
  );
  --webkit-border-radius: 5px;
  --moz-border-radius: 5px;
  border-radius: 5px
}
.notification.info .notification-description{
   background:#3498db;
  background: linear-gradient(
    25deg
    , rgba(41, 128, 185, .8) 0%
    , rgba(52, 152, 219, .8) 15%
    , rgba(52, 152, 219, 1) 15%
    , #3498db 100%
  );
  --webkit-border-radius: 5px;
  --moz-border-radius: 5px;
  border-radius: 5px
}

.round_5 {
  --webkit-border-radius: 5px;
  --moz-border-radius: 5px;
  border-radius: 5px
}

@media (max-width: 90em) {
  .wrapper {
    width: 90%
  }
}

form div {
  text-align: left;
  padding-right: 10%;
  padding-left: 10%;
}

form label {
  font-weight: bold;
  font-size: 20px;
}

form input {
  float: right;
  width: 50%;
  --webkit-border-radius: 5px;
  --moz-border-radius: 5px;
  border-radius: 5px
}

#submit {
  width: 25%;
  margin-left: 62.5%;
  margin-right: 12.5%;
}

.helptext {
  font-weight: lighter;
}

.errorlist {
  font-weight: bold;
  color: rgba(187,54,27,1);
}

.full_width {
  width: 100%;
}

.full_height {
  height: 100%;
}

.half_height {
  height: 50%;
}
