#notiBell:before, #notiBell:after
{
  color: #151515;
  text-indent: 0;
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  line-height: 48px;
  border-radius: 7px;
  font-family: Arial;
  font-size: 20px;
  
  text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#notiBell:after
{
  content: "\f0f3";
  font-family: "FontAwesome";
  text-align: center;
  box-shadow: none;
  transform-origin: 70% -1px;
  animation-name: ring;
  animation-duration: 2.75s;
  animation-iteration-count: infinite;
}

@keyframes ring
  {
    0% { transform: rotate(0deg) }
    15% { transform: rotate(-4.5deg) }
    25% { transform: rotate(4.5deg) }
    35% { transform: rotate(-4.5deg) }
    45% { transform: rotate(4.5deg) }
    55% { transform: rotate(-4.5deg) }
    65% { transform: rotate(4.5deg) }
    75% { transform: rotate(-4.5deg) }
    85% { transform: rotate(4.5deg) }
    100% { transform: rotate(0deg) }
  }

  #notiBellStatic:before, #notiBellStatic:after
{
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  line-height: 48px;
  border-radius: 7px;
  font-family: Arial;
  font-size: 20px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#notiBellStatic:after
{
  content: "\f0f3";
  font-family: "FontAwesome";
  text-align: center;
}
