#notiBell:before, #notiBell:after
{
  color: inherit;
  text-indent: 0;
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  line-height: 48px;
  border-radius: 7px;
  font-family: Arial;
  font-size: 20px;
  
  text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#notiBell:after
{
  content: "\f0f3";
  font-family: "FontAwesome";
  text-align: right;
  box-shadow: none;
  transform-origin: 70% -1px;
  animation-name: ring;
  animation-duration: 2.75s;
  animation-iteration-count: infinite;
}

@keyframes ring
  {
    0% { transform: rotate(0deg) }
    15% { transform: rotate(-2.5deg) }
    25% { transform: rotate(4.5deg) }
    35% { transform: rotate(-6.5deg) }
    45% { transform: rotate(8.5deg) }
    55% { transform: rotate(-8.5deg) }
    65% { transform: rotate(6.5deg) }
    75% { transform: rotate(-4.5deg) }
    85% { transform: rotate(2.5deg) }
    100% { transform: rotate(0deg) }
  }

  #notiBellStatic:before, #notiBellStatic:after
{
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  line-height: 48px;
  border-radius: 7px;
  font-family: Arial;
  font-size: 20px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#notiBellStatic:after
{
  content: "\f0f3";
  font-family: "FontAwesome";
  text-align: center;
}

#topHome, #botHome {
  color: rgb(17,17,17);
  background-color: rgba(143,143,143,.12);
  box-shadow: 0px 0px 1em 1em rgba(143,143,143,.12);
}

#topHome h1, #botHome h1 {
  text-align: left;
  text-decoration: underline;
  font-size: 2.5em;
}

#topHome a, #botHome a {
  color: rgb(0,0,77);
}

#topHome a:hover, #botHome a:hover {
  color: rgb(17,17,247);
}

#toolSection {
  padding-left: 4%;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 50%;
  height: 100%;
  float: left;
}

#shedSection {
  padding-left: 4%;
  border-bottom: 1px solid #000;
  width: 50%;
  height: 100%;
  float: right;
}

#communitySection {
  padding-left: 4%;
  border-right: 1px solid #000;
  width: 50%;
  height: 100%;
  float: left;
}

#borrowedSection {
  padding-left: 4%;
  width: 50%;
  height: 100%;
  float: right;
}

#searchBar {
  color: rgba(17,17,17,1);
}

#searchBtn {
  margin: 3%;
  width: auto;
}

#id_q {
  margin: 2%;
  width: 50%;
}

#links li{
  margin-top: 5%;
  margin-bottom: 5%;
}

#container {
  overflow: hidden;
  width: 50%;
  margin: auto;
  background-color: rgba(143,143,143,.12);
  box-shadow: 0px 0px 1em 1em rgba(143,143,143,.12);
}

#container h1 {
  text-decoration: underline;
}

.profileList {
  margin-left: 18%;
}
