#nav {
	height: 7.12vh;
	min-height: 0;
}

#icon {
	height: 20px;
	height: 1.56vw;
	width: 20px;
	width: 1.56vw;
}

#content #heading {
	font-size: 2.82vw;
}

#iconMain {
	height: 5%;
	width: 5%;
}

* {
	-webkit-transition: .45s;
	-moz-transition: .45s;
	transition: .45s;
}

#contentBlock {
	width: 80%;
	margin-left: 20%;
	margin-right: 20%;
	max-width: 60%;
	text-align: left;
}

#contentBlock input {
	min-width: 50%;
	max-width: 80%;
}
